.root{
    -fx-background-color: #747b87;
    -fx-font-family: "arial", "serif";
    -fx-font-size: 18px;
    -fx-padding: 10px;
    -fx-background-image: url("bg.jpg")
}

.blue_button{
    -fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-pref-width: 250

   /* -fx-background-insets: 5px; */

}

.view_button{
    -fx-background-color: #a7657f;
    -fx-font-size: 16px;
    -fx-text-fill: #e5fcf5;
    -fx-background-radius: 5,5,4;
}

#title{
    -fx-font-family: "Chilanka", "arial";
    -fx-font-size: 36px;
}

#foot{
    -fx-font-style: italic;
    -fx-font-size: 12px;
}